  <md-toolbar class="md-accent agent-web">
    <div class="md-toolbar-tools">
      <div flex>
        <h2>使用说明</h2>
      </div>
    </div>
  </md-toolbar>
  <md-divider layout-align="start center" class="agent-web"></md-divider>
  <md-list class="md-dense instructions" >
    <md-list-item layout="column" layout-align="center start" layout-padding class="item">
      <h4 class="explain">发工资条</h4>
      <p>1. 点击左侧导航中的【发工资条】</p>
      <ul>
        <li>选择“发薪月份”、“发薪类型”，也可以手动录入发薪类型，展示给员工的“发薪标题”可以自定义输入。</li>
        <li>点击“上传Excel工资单”按钮，您可以使用现有工资条模板，也可以“下载工资单模板”，将核算好的工资数据粘贴到模板中</li>
        <!--<img src="{{instructions.imagesPath[0]}}" alt="">-->
      </ul>
      <p>2. 核对数据</p>
      <span class="span-pd">如有数据项验证错误会出现高亮提醒，修改excel后重新上传，配置好后点击“下一步”即可。</span>
      <p>3. 预览并发送</p>
      <ul>
        <li>设置输出选项：设置列是否展示给员工，也可以拖动排序。</li>
        <li>明细分类设置：添加明细分类后可将已有工资数据项拖到分类明细中。</li>
        <li>右侧“预览”会即使显示出效果。</li>
        <!--<img src="" alt="">-->
        <li>点击“预览并发送”，确认无误后，点击确认发送，也可以点击“保存稍后发送”，数据将存储到工资单列表中。</li>
        <!--<img src="" alt="">-->
      </ul>
    </md-list-item>
    <md-list-item layout="column" layout-align="center start" layout-padding class="item">
        <h4 class="explain two">撤回与重发</h4>
         <p>1.点击左侧导航中的 <md-icon>monetization_on</md-icon>工资条管理</p>
         <p>2.对单条薪资进行“撤回或重发”</p>
    </md-list-item>
    <!--<md-list-item layout="column" layout-align="center start" layout-padding>-->
      <!--<h3>三、权限管理</h3>-->
      <!--<p>1.钉钉主管理员可以进行薪酬权限设置，只有钉钉的子管理员才能被分配薪酬权限</p>-->
      <!--<p>2.钉钉主管理员可以点击左侧导航中的“设置中心”，找到“权限设置”</p>-->
      <!--<p>3.被授权的管理员会受到一条钉钉提醒消息</p>-->
      <!--<p>4.各薪酬管理员发送的工资信息相互独立，无法相互查看，钉钉主管理员也无法查看授权过的薪酬管理员发送的工资信息</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start" layout-padding>-->
      <!--<h3>四、提醒设置</h3>-->
      <!--<p>1.点击左侧导航中的“设置中心”，找到“提醒设置”</p>-->
      <!--<p>2.根据本企业需求设置发放工资条日期，和提醒时间，设置后系统会通过钉钉客户端定期发送消息提醒</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start" layout-padding>-->
      <!--<h3>五、进行安全设置</h3>-->
      <!--<p>1.点击左侧导航中心的“设置中心”，找到“安全设置”</p>-->
      <!--<p>2.根据本企业需求设置员工查询工资时的密码验证安全等级</p>-->
      <!--<p>3.关闭查询密码后，员工查看工资条时将不再进行任何的身份验证，请谨慎关闭次设置</p>-->
      <!--<p>4.开启“首次设置密码短信验证”，是为了保证第一次设置查询密码的员工是其本人，建议开启</p>-->
      <!--<p>5.查询密码有效时间，可以自行进行设置，最长120分钟，设置为0或空，代表每次查询都需要进行密码验证</p>-->
    <!--</md-list-item>-->

  </md-list>
