  <md-toolbar class="md-accent agent-web">
    <div class="md-toolbar-tools">
      <div flex>
        <h2>常见问题</h2>
      </div>
    </div>
  </md-toolbar>
  <md-divider layout-align="start center" class="agent-web"></md-divider>
  <md-list class="md-dense problem" >
    <md-list-item layout="column" layout-align="center start" class="item">
      <h4>万能工资条需要付费么？</h4>
      <p>万能工资条分为免费版和专业版</p>
      <!--<ul>-->
        <!--<li>免费版：永久免费</li>-->
        <!--<li>专业版：拓展性更强 管理更专业 使用更方便 产品规划中</li>-->
      <!--</ul>-->
    </md-list-item>
    <md-list-item layout="column" layout-align="center start" class="item">
      <h4>员工离职后还可以查看到工资信息么？</h4>
      <p>安心工资条访问权限与钉钉通讯录同步，从钉钉中移除员工后即无法登录安心工资条帐号。</p>
    </md-list-item>
    <md-list-item layout="column" layout-align="center start" class="item">
       <h4>我们是怎么保障数据安全的？</h4>
       <p>
         网络传输上，我们采用了SSL加密通道来保证数据传输的安全性。</br>
         数据存储采用了多重加密方法，数据库管理员也无法查看到明文。</br>
         基于阿里云提供强大的云端安全保护严格的授权保密制度，安全团队随时待命。
       </p>
      </ul>
    </md-list-item>
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>不想用查询密码和短信验证怎么办？</h4>-->
      <!--<ul>-->
        <!--<li>点击左侧导航中的“设置中心”，找到“安全设置”</li>-->
        <!--<li>在此可以关闭“员工查询密码”和“首次短信验证码”，也可以对“查询密码的过期时间进行设置”</li>-->
      <!--</ul>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
       <!--<h4>子管理员安装成功后，进入管理后台为什么提示没有权限进入？</h4>-->
      <!--<p>子管理员开通万能工资条后，需要主管理员在钉钉管理后台开通子管理员使用权限后才能使用，主管理员设置步骤如下：</p>-->
       <!--<p>1.进入“设置_设置子管理员”在其中给需要权限的子管理员开通万能工资条的全部管理权限</p>-->
       <!--<p>2.然后再在万能工资条的权限设置中，勾选对应子管理员并保存</p>-->
       <!--<p>3.如上述操作已完成，但仍然无法进入，请让主管理员查看万能工资条设置页面中的可见范围，是不是将子管理员排除在外了</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>为什么安装了万能工资条，但是员工在钉钉上看不到万能工资条这个应用？</h4>-->
      <!--<p>有两种情况：一是主管理员设置了可见范围，不在范围内的员工就无法看到；二是主管理员设置了隐藏客户端图标</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>上传工资表，对表格有什么具体要求？</h4>-->
      <!--<p>可以用自己的工资表，但格式有一定要求：</p>-->
      <!--<p>1.项目名称必须在首行，不能有多级项目，且项目名称不能为空。</p>-->
      <!--<p>2.必须包含姓名，手机，实发工资三项数据。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>如果使用模板可以加入自定义项目吗？</h4>-->
      <!--<p>可以，只要在模板中空白列添加自定义项目和数据即可，系统会自动识别。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>主管理员可以看到管理后台中的工资条信息么？还有管理员之间能互相看到吗？</h4>-->
      <!--<p>无论是主管理员还是子管理员，均只能看到自己上传的工资数据，无法看到其他管理员上传的工资条信息。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>上传后提示员工不在当前组织怎么回事？</h4>-->
      <!--<p>请确认员工姓名和手机号码是否与钉钉通讯录中的姓名（不是昵称）、手机号码完全一致。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>员工人数较多时建议一次上传多少条工资信息？</h4>-->
      <!--<p>万能工资条没有限制每次上传的条数，但是如果网络环境不好大数据量上传时可能造成等待时间过长甚至失败的情况，因此</p>-->
      <!--<p>建议每次上传不超过1000条为好，在此基础上可根据网络条件进行加减。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>excel表中员工姓名与钉钉通讯录中的不一致情况较多如何处理？</h4>-->
      <!--<p>您可以通过钉钉管理员后台导出员工通讯录，用导出通讯录中的姓名、手机号码数据可有效避免名字不符的情况</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>在钉钉中新增加的员工为何无法发送工资条？</h4>-->
      <!--<p>由于同步机制导致无法发送当日新增加的员工的工资条，您可以通过【设置中心】-【钉钉通讯录同步】解决。</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>薪酬管理员离职了，过往的数据如何处理？</h4>-->
      <!--<p>离职前薪酬管理员可以通过【设置中心】-【权限转移】将权限转移给其他薪酬管理员，需要钉钉主管理员审批通过后生效</p>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="column" layout-align="center start">-->
      <!--<h4>客服电话：000-000-0001</h4>-->
    <!--</md-list-item>-->
  </md-list>
