  <md-toolbar class="md-accent agent-web">
    <div class="md-toolbar-tools">
      <div flex>
        <h2>钉钉通讯录同步</h2>
      </div>
    </div>
  </md-toolbar>
  <md-divider layout-align="start center" class="agent-web"></md-divider>
  <div md-colors="" class="md-margin md-padding">
     <p>说明：</p>
     <p>只能从钉钉端往本系统同步数据，不能从本系统往钉钉进行数据同步。</p>
     <p>请到钉钉管理后台的通讯录页面进行员工设置 ，数据会自动同步到本系统。</p>
     <p>由于访问钉钉接口压力大，每天只能同步更新2次，请见谅。</p>
  </div>
  <div class="md-padding">
    <md-button class="md-raised md-primary" ng-click="" >同步员工信息</md-button>
  </div>
